$amountOfHoverDarkness: 5;
$primary_black: #222222;
$secondary_black: #2c2c2c;
$danger: rgb(199, 5, 5);
$attractive_title: #d34222; // couleur na titre manintona
$white : #ebebeb;
$home_logo_color: $white;
$primary_blue: #024a5a;
$success: #027348;
$primary_gray: #888C80; // couleur na zavatra temporaire (progress bar, etc)
$progressBarColor : $primary_gray;
$CTA: #025373;
$indication-opacity: 0.3;
$secondary_gray: rgba(255, 255, 255, 0.705);
$tierce_gray: rgba(211, 209, 209, 0.71);
$box_shadow_for_small_modal: 1px 1px 2px $primary_gray, -1px 0 2px $primary_gray;